<ion-header>
  <ion-toolbar>
    <ion-title size="large">Skeleton app</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <ion-card-header>
        <ion-button fill="clear" [routerLink]="['/login']">Atras</ion-button>
        <ion-card-title>Que bueno verte</ion-card-title>
        <ion-label>
            <p *ngIf="usuario">Usuario: {{usuario}}</p>
        </ion-label>
      </ion-card-header>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card-title> Informacion Adicional</ion-card-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="data.nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input type="text" [(ngModel)]="data.apellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" class="ion-padding-bottom">Educacion</ion-label>
            <ion-select placeholder="Seleccione Nivel" [(ngModel)]="data.educacion">
              <ion-select-option *ngFor="let niv of niveles" [value]="niv.ide">{{niv.nivel}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" class="ion-padding-bottom">Fecha Nacimiento</ion-label>
            <ion-input type="date" [(ngModel)]="data.nacimiento"></ion-input>
          </ion-item>
        </ion-list>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button shape="block" (click)="limpiar()">Limpiar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="block" (click)="mostrar()">Mostrar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>App desarrollada por </ion-title>
  </ion-toolbar>
</ion-footer>
